@model Attachment.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="float-left">
        <h4>Employee</h4>
    </div>
    <div class="float-right">
        <a class="btn-primary BTNshowAttachtments">Show Attachments</a>
        @Html.PartialAsync("_EmployeeAttachments");
    </div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.CreatedAOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.CreatedAOn)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    FileType
                </th>
                @*<th>
                    DataFiles
                </th>*@
                <th>
                    CreatedOn
                </th>
                <th>
                    EmployeeId
                </th>
                <th>
                    ClientId
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FileList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DataFiles)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
